<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>custompricerule</name>
	<displayName><![CDATA[Custom Price Rule]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Custom Price Rule Description]]></description>
	<author><![CDATA[Piment Bleu]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
