<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/_vendor/sebastian/diff/tests" />
        <option value="$PROJECT_DIR$/_vendor/nikic/php-parser/tests" />
        <option value="$PROJECT_DIR$/_vendor/squizlabs/php_codesniffer/tests" />
        <option value="$PROJECT_DIR$/_vendor/composer/xdebug-handler/tests" />
        <option value="$PROJECT_DIR$/_vendor/friendsofphp/php-cs-fixer/tests" />
        <option value="$PROJECT_DIR$/tests" />
      </list>
    </option>
  </component>
</project>